.nav-bar {
    background-color: rgb(28, 211, 37);
      position:fixed top;  
}

.nav-bar-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 55px 1100px 80px 80px 30px 30px 30px;

}

.nav-bar-container div {
    padding: 1px;
}

.nav-bar-container div:hover {
    background: rgb(17, 17, 241);
    border-radius: 20px;
    padding: 5px;
}

.nav-bar-container .search-bar:hover {
    border: radius inherit;
    ;
    background: inherit;
}

.nav-bar-container .img:hover {
    border-radius: inherit;
    background: inherit;
}

.nav-bar a {
    text-decoration: none;
    color: rgb(15, 6, 6);
    font-size:  20px ;
}

.img {
    max-width: 50px;
}

.search-bar input {
    width: 200%;
    background-color: cornsilk;
    border: 2px solid #180303;
    border-radius: 100px;
    box-shadow: none;
    padding: 10px;
    text-indent: 30px;
}

.search-bar .fa-search {
    position: absolute;
    top: 34px;
    left: 528px;
}

.search-bar input:focus {
    box-shadow: 0 0 0 4px rgb(221, 221, 221);
    outline: 0;
}

.active {
    background-color: rgb(243, 20, 20);
    border-radius: 50px;
    padding: 10px;
    width: 100%;
}
.active1 {
    background-color: rgb(233, 15, 44);
    border-radius: 50px;
    padding: 10px;
    width: 100%;
}

.container {
    margin-top: 10px;
    padding: 1px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    grid: gap 10px;
    justify-content: center;
    /* background: rgb(29, 31, 11);
    position: relative; */
}

.c1 {
    grid-row-end: span 2;
}

.c2 {
    grid-row-end: span 2;
}

.c3 {
    grid-row-end: span 2;
}

.c4 {
    grid-row-end: span 1;
}

.c5 {
    grid-row-end: span 1;
}

.c6 {
    grid-row-end: span 1;
}


.item {
    border-radius: 50px;
    padding: 1px;
    /* background: rgb(128, 240, 184);  */
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.footbar a {
    color: rgb(22, 21, 21);
    font-size: 20px;
    

}

/*  */
/* .footbar {
    margin-top: 30px;
    /* justify-items: center;
    align-items: center; */
/* margin-left: 40px ; */
/* display: grid;  */
/* justify-items: center; */
/* grid-template-columns: 1000px 80px;    */
.footbar {
    position:absolute bottom;
    margin-top: 40px;
    background-color: khaki;
    border-radius:20px;
    padding: 40px;
    border-width: 4px;
    border: solid ;

    background-image: url(https://www.codewithharry.com/assets/img/logo.png);
    background-repeat: no-repeat;
    

    display: grid;
    justify-items: center;
    align-items: center;
    
}
.footbarcontainer{
    display: grid;
    grid-template-columns:  100px 100px ;
}